.pio/
.pioenvs/
.piolibdeps/
.clangd/
.cache/
*.pyc
__pycache__/
.vscode/.browse.c_cpp*
.vscode/ipch/
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.claude/
.idea/
task.md
